<div id="<%= dom_id sportsperson %>">


  <%= link_to image_tag(sportsperson.image_as_thumbnail), sportsperson.image %>
  <br />

  <p>
    <strong>Firstname:</strong>
    <%= sportsperson.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= sportsperson.lastname %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= sportsperson.birthdate %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= sportsperson.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= sportsperson.email %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= sportsperson.team %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= sportsperson.position %>
  </p>

</div>
