<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Sportspeople</h1>
  <form class="d-flex justify-content-end" action="/search" style="width: 400px; margin-left: 70%;">
        <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  <br/>
  <br/>


    <table class="table table-striped table-responsive table-hover">
      <thead>
        <tr>
          <th> First name </th>
          <th> Last name </th>
          <th> Birth date </th>
          <th> Phone </th>
          <th> Email Address </th>
          <th> Team </th>
          <th> Position </th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @sportspeople.each do |sportsperson| %>
          <tr>
            <td><%= sportsperson.firstname %></td>
            <td><%= sportsperson.lastname %></td>
            <td><%= sportsperson.birthdate %></td>
            <td><%= sportsperson.phone %></td>
            <td><%= sportsperson.email %></td>
            <td><%= sportsperson.team %></td>
            <td><%= sportsperson.position %><td>
            <td><%= link_to "Show this player", sportsperson %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if admin_signed_in? %>
      <%= link_to "Add a Player", new_sportsperson_path, class:"btn btn-primary" %>
    <% end %>

</div>
