<p style="color: green"><%= notice %></p>

<div class="container mt-4 p-5 bg-secondary text-white rounded">
  
  <%= image_tag(@sportsperson.image_as_thumbnail) %>
  <h1>
    <%= @sportsperson.firstname %>
    <%= @sportsperson.lastname %>
  </h1>
  <br/>
  <p class="lead">
    <%= @sportsperson.birthdate %>
  </p>

  <p class="lead">
    <%= @sportsperson.phone %> |
    <%= @sportsperson.email %>
  </p>

  <p class="lead">
    <%= @sportsperson.team %> |
    <%= @sportsperson.position %>
  </p>

  <div>
    <%= link_to "Edit player info", edit_sportsperson_path(@sportsperson), class:"btn btn-primary" %> |
    <%= link_to "Back to players", sportspeople_path, class:"btn btn-primary" %> <br/>
    <br/>
    <%= button_to "Delete player", @sportsperson, method: :delete, class:"btn btn-primary" %>
  </div>
</div>
